<div class="main">
  <p>
    name - {{ data?.name }}; ID - {{ data?.id }}; status - {{ data?.isActive }};
    Date -
    {{ data?.dueDate | date : "MM/dd/yyyy" }}
  </p>
  <!-- @if (data?.isActive === true){
  <button (click)="changeActiveStatus()" class="activeButton">
    InActivate
  </button>
  } @else {
  <button (click)="changeActiveStatus()" class="inactiveButton">
    Activate
  </button>
  } -->

  <!-- <button
    (click)="changeActiveStatus()"
    [ngClass]="{
      activeButton: data?.isActive,
      inactiveButton: !data?.isActive
    }"
  >
    {{ data?.isActive ? "Inactivate" : "Activate" }}
  </button> -->

  <button
    mat-raised-button
    type="submit"
    (click)="changeActiveStatus()"
    [ngClass]="{
      activeButton: data?.isActive,
      inactiveButton: !data?.isActive
    }"
  >
    {{ data?.isActive ? "Inactivate" : "Activate" }}
  </button>

  <!-- <button (click)="deleteItem()" class="deleteButton">Delete</button> -->
  <mat-list-item class="list-item">
    <button mat-icon-button color="warn" (click)="deleteItem()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</div>
