p {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  flex: 1; /* Make the paragraph take up available space */
  max-width: 500px; /* Set a maximum width */
}

.activeButton {
  background-color: chocolate;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.inactiveButton {
  background-color: #28a745;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add space between the elements */
}

.deleteButton {
  background-color: crimson;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
